/*The tooltip arrow:*/
.leaflet-tooltip-bottom:before {
    top: 0;
    margin-top: -12px;
    margin-left: -6px;
    border-bottom-color: transparent;
}

.leaflet-tooltip-custom-text-only {
    color: black;
    background-color: transparent;
    border-color: transparent;
    box-shadow: none;
}
