@typeparam TItem
@using RazorLib.Interfaces
@inject IApiClient ApiClient
@using System.Net
@using System.Text
@using static RazorLib.Components.ListViewBase

@*Returns a list of the selected dog's ids 
    TODO make this selection dialogue generic and reusable
*@

<MudDialog DisableSidePadding="true" Style="background-color:var(--mud-palette-background);">
    <DialogContent>
        <MudContainer Style="min-height: 300px; max-height:500px; overflow-y: scroll" Class="pb-4">
            @if (_loading)
            {
                <MudProgressCircular Indeterminate="true"></MudProgressCircular>
            }
            else
            {
                <ListView ItemGap="20" Orientation="ListViewOrientation.Vertical" >
                    @foreach (var dog in _items)
                    {
                        <ListViewItem ClickAble="true" OnClicked="@(() => UpdateSelection(ExtractItemId(dog)))">
                            @BuildListItemContent(dog, @<MudCheckBox @bind-Checked="@_itemChecked[ExtractItemId(dog)]" Color="Color.Primary"/>)
                        </ListViewItem>
                    }
                </ListView>
            }
        </MudContainer>
    </DialogContent>
    <DialogActions>
        <div style="width:100%; display:flex; justify-content:space-around">
            <MudButton OnClick="Cancel">Cancel</MudButton>
            <MudButton OnClick="() => Ok()" Variant="Variant.Filled" Color="Color.Primary">
                Submit
            </MudButton>
        </div>
    </DialogActions>
</MudDialog>

@code {
    [CascadingParameter] MudDialogInstance MudDialog { get; set; }

    [Parameter]
    public Func<Task<List<TItem>>> ItemFetch {get;set;}

    [Parameter] 
    public Func<TItem, int> ExtractItemId {get;set;}

    [Parameter]
    public Func<TItem, RenderFragment,RenderFragment> BuildListItemContent { get; set; }

    private List<TItem> _items;
    private Dictionary<int, bool> _itemChecked;
    private bool _loading;

    public ItemSelectionDialogue()
    {
        _items = new();
        _itemChecked = new();
    }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        _loading = true;
        _items = await ItemFetch();
        _itemChecked = _items.ToDictionary(d => ExtractItemId(d), d => false);
        _loading = false;
    }

    void Cancel() => MudDialog.Cancel();

    private void Ok()
    {
        var selectedDogIds = _itemChecked.Where(kv => kv.Value == true).Select(kv => kv.Key).ToList();
        MudDialog.Close(DialogResult.Ok<List<int>>(selectedDogIds));
    }

    private void UpdateSelection(int id)
    {
        _itemChecked[id] = !_itemChecked[id];
        StateHasChanged();
    }
}