.Stars {
    --percent: calc(var(--rating) / 5 * 100%);
    display: inline-block;
    font-size: 60px;
    font-family: Times;
    /* make sure ★ appears correctly*/
    line-height: 1;
}

    .Stars::before {
        content: '★★★★★';
        letter-spacing: 3px;
        background: linear-gradient(90deg, #fc0 var(--percent), #EEE var(--percent));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
